:root{
    --primary-color: #333;
    --secondary-color: white;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: sans-serif,serif;
}
.showcase{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: url(../images/pexels-jaymantri-4827.jpg) no-repeat center center fixed;
    background-size: cover;
    display: table;
}


.text-fields{
    display: block;
    height: 50px;
    width: 20rem;
    font-size: 15px;
    margin-left: 35px;
    padding-left: 10px;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
}
.button{
    font-size: 1.2rem;
    color: var(--secondary-color);
    background-color: black;
    padding: 15px 137px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    top: 1.5rem;
    border: none;
}
.button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition:all .5s;
    
}
.validity-email,.validity-password,.validity-username{
    font-size: 12px;
    position: relative;
    top: -4.8rem;
}
.validity-username{
    left: -5rem;
}
.validity-password{
    left: -5rem;
}
.validity-email{
    left: -5.4rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/********************************************SIGN-IN***************************************************/

.signin-box{
    position: relative;
    height: 25.5rem;
    width: 25rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

.signin-content{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    justify-content: center; 
    color: white;
}

.remember-me,.forgot-password{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    top: 10px;
    padding-right: 20px;
}
.remember-me>input{
    width: 20px;
    height: 15px;
    margin-top: 17px;
}
.create-account-link{
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    top: 3.3rem;
}


/********************************************SIGN-up***************************************************/

.signup-box{
    position: relative;
    height: 25.5rem;
    width: 25rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}


.signup-content{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    justify-content: center; 
    color: white;
}


/********************************************Forgot-password***************************************************/

.Forgot-Password-box{
    position: relative;
    height: 19rem;
    width: 25rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}


.Forgot-Password-content{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    justify-content: center; 
    color: white;
}


/********************************************Reset-password***************************************************/

.Reset-Password-box{
    position: relative;
    height: 19rem;
    width: 25rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}


.Reset-Password-content{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    justify-content: center; 
    color: white;
}

/********************************************Reset-password***************************************************/

.index-box{
    position: relative;
    height: 10rem;
    width: 25rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

.index-content a{
    color: rgba(255, 255, 0, 0.7);
}
.index-content{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    justify-content: center; 
    color: white;
    line-height: 2rem;
}